<form #postForm="ngForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <input type="password" formControlName="password" placeholder="Enter New password">
  <div *ngIf="resetForm.controls.password.errors?.required">
    <label *ngIf="resetForm.controls.password.errors?.required" class="validation-message">new password is required?</label>
  </div>
  <div *ngIf="resetForm.controls.password.errors?.pattern != null" tooltip="At Least 8 Character Length , One Upper Case Letter , One Lower Case Letter , One Special
                    Character , One Number Digit">
    <label *ngIf="resetForm.controls.password.errors?.pattern != null" class="validation-message">wrong password combination?</label>
  </div>
  <input type="password" formControlName="confirmpassword" placeholder="Re-confirm password">
  <div *ngIf="resetForm.controls.confirmpassword.errors?.required">
    <label *ngIf="resetForm.controls.confirmpassword.errors?.required" class="validation-message">new password is required?</label>
  </div>
  <div *ngIf="resetForm.controls.confirmpassword.errors?.pattern != null" tooltip="At Least 8 Character Length , One Upper Case Letter , One Lower Case Letter , One Special
                    Character , One Number Digit">
    <label *ngIf="resetForm.controls.confirmpassword.errors?.pattern != null" class="validation-message">wrong password combination?</label>
  </div>
  <input type="submit" value="Reset">
</form>